<div class="navbar">
    <div class="container">
        <ul >
            <li>
                <a style="margin-left: -40px;" href="./">
                    <span><img src="./upload/logodulichht.png" style="width: 80px; height:80px; margin-top: -25px"></span>
                    <span style="color: #f2f2f2; font-size: 35px;line-height: 100px;">Dương Trọng Review</span>
                </a>
            </li>
        </ul>
       <ul class="nav">
           <li class="line-navbar">
               <a href="./">
                   <h6 class="link-navbar">HOME</h6>
               </a>
           </li>
           <li class="line-navbar">
               <a href="./travel.php" >
                   <h6 class="link-navbar" >FOOD REVIEW</h6>
               </a>
           </li>
           <li class="line-navbar">
               <a href="./introduceVietnam.php">
                   <h6 class="link-navbar">INTRODUCING VIET TRI CITY</h6>
               </a>
           </li>
           <li class="line-navbar">
               <a href="./contact.php" >
                   <h6 class="link-navbar" >CONTACT</h6>
               </a>
           </li>
       </ul>
    </div>
</div>
